name: Docker Image CD

on:
  push:
    branches:
      - main

jobs:
  deploy:
    environment: aws
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          cd blog
          docker build -t movingju/public:movingju.com .
          
      - name: Push Docker image
        run: docker push movingju/public:movingju.com

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.AWS_EC2_KEY }}

      - name: Run CI/CD.sh on EC2
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.AWS_EC2_USER }}@${{ secrets.AWS_EC2_HOST }} "
            docker pull movingju/public:bloc
            docker run -p 4000:4000 -d movingju/public:blog
          "